.body { padding-top: 70px; }

@media screen and (max-device-height: 1280px) {
	body {height: 1200px;}
}

.container-area {
	height: 100%;
}

.top-part {
	text-align: center;
	padding-top: 0px;
	height: 10%;
}

.operand {
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
}

.correctResult {
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	color: #20b426;
}

.incorrectResult {
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	color: #d9534f;
	text-decoration: line-through;
}

.actionButton {
	height: 60px;
	width: 80%;
}

.center {
	text-align: center;
}

/* blocks */

.clearfix{
	display: block;
}

.left{
	float: left;
}

/* width */

.w-10{
	width: 10%;
}

.w-20{
	width: 20%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40%;
}

.w-50{
	width: 50%;
}

.w-60{
	width: 60%;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-90{
	width: 90%;
}

.w-full{
	width: 100%;
}

/* padding top */

.pT10{
	padding-top: 10px;
}

.pT20{
	padding-top: 20px;
}

.pT30{
	padding-top: 30px;
}

/* padding left */

.pL10{
	padding-left: 10px;
}

.pL20{
	/* padding-left: 20px; */
}

.pL30{
	padding-left: 30px;
}


.v-align-middle{
	vertical-align: middle;
}

