<table class="keypad-style" id="keypad">
    <tr>
        <td> <button type="button" id="button1" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">1</button>  </td>
        <td> <button type="button" id="button2" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">2</button> </td>
        <td> <button type="button" id="button3" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">3</button> </td>
    </tr>
    <tr>
        <td> <button type="button" id="button4" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">4</button> </td>
        <td> <button type="button" id="button5" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">5</button> </td>
        <td> <button type="button" id="button6" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">6</button> </td>
    </tr>
    <tr>
        <td> <button type="button" id="button7" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">7</button> </td>
        <td> <button type="button" id="button8" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">8</button> </td>
        <td> <button type="button" id="button9" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">9</button> </td>
    </tr>
    <tr>
        <td> <button type="button" id="buttonDOT" class="btn btn-disabled btn-lg keypad-btn-width" autocomplete="off">.</button> </td>
        <td> <button type="button" id="button0" class="btn btn-default btn-lg keypad-btn-width" autocomplete="off">0</button> </td>
        <td> <button type="button" id="buttonDEL" class="btn btn-disabled btn-lg keypad-btn-width" autocomplete="off">DEL</button> </td>
    </tr>
</table>
