<div class="keypad-style center" id="keypad">
    <div class="clearfix">
        <div class="left keypad-btn-div"> <button type="button" id="button1" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="1">1</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button2" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="2">2</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button3" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="3">3</button> </div>
    </div>
    <div class="clearfix">
        <div class="left keypad-btn-div"> <button type="button" id="button4" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="4">4</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button5" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="5">5</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button6" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="6">6</button> </div>
    </div>
    <div class="clearfix">
        <div class="left keypad-btn-div"> <button type="button" id="button7" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="7">7</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button8" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="8">8</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button9" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="9">9</button> </div>
    </div>
    <div class="clearfix">
        <div class="left keypad-btn-div"> <button type="button" id="buttonDOT" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="DOT">.</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="button0" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="0">0</button> </div>
        <div class="left keypad-btn-div"> <button type="button" id="buttonDEL" class="btn btn-default btn-lg keypad-btn" autocomplete="off" data-value="DEL">D</button> </div>
    </div>
</div>