<div class="container container-area">
    <div>
       <div class="center">
            <div class="clearfix">
                <span class="operand">{{task.number1}}</span>
                <span class="operand">{{task.operatorSign}}</span>
                <span class="operand">{{task.number2}}</span>
                <span class="operand"> = </span>
                <span id="inputedResult" class="keypad-label operand"></span>
                <span id="incorrectResult" class="incorrectResult">{{task.userResult}}</span>
                <span id="correctResult" class="correctResult">{{task.result}}</span>
            </div>
       </div>
           
        <div class="center w-full pT10" ng-controller="NumericKeyboardController">
            <div numeric-keyboard></div>
        </div>

        <div class="center pT30">
            <button type="button" id="checkButton" class="btn btn-primary actionButton" autocomplete="off">Check result!</button>
            <button type="button" id="nextButton" class="btn btn-success actionButton" autocomplete="off">Next!</button>
        </div>

        <div class="center pT10">
            <span>Solved {{statistics.correctSolvedCounter}} of {{statistics.counter}} ({{achievements.currentLevel}} level)</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{achievements.completedOn}}%;">
                {{achievements.completedOn | number:0 }}%
            </div>
        </div>
    </div>
</div>