<div class="container container-area">
    <div>
       <div class="center">
            <div class="clearfix">
                <span class="operand">{{task.number1}}</span>
                <span class="operand">{{task.operatorSign}}</span>
                <span class="operand">{{task.number2}}</span>
                <span class="operand"> = </span>
                <span id="inputedResult" class="keypad-label operand"></span>
                <span id="incorrectResult" class="incorrectResult">{{task.userResult}}</span>
                <span id="correctResult" class="correctResult">{{task.result}}</span>
            </div>
       </div>
           
        <div class="center w-full pT10" ng-controller="NumericKeyboardController">
            <div numeric-keyboard></div>
        </div>

        <div class="center pT30">
            <button type="button" id="checkButton" class="btn btn-primary actionButton" autocomplete="off">Check result!</button>
            <button type="button" id="nextButton" class="btn btn-success actionButton" autocomplete="off">Next!</button>
        </div>

        <div class="center pT10">
            <span>Solved {{$storage.correctSolvedCounter}} of {{$storage.counter}}</span>
        </div>
    </div>
</div>